@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F8FC;
  --surface: #FFFFFF;
  --primary: #167CBA;
  --text: #14283F;
  --text-secondary: #59738A;
  --success: #14B8A6;
  --iris: #6474D9;
}

[data-theme='dark'] {
  --background: #0B1526;
  --surface: #16263B;
  --primary: #218FD2;
  --text: #F1F7FF;
  --text-secondary: #A5BCD1;
  --success: #5EEAD4;
  --iris: #8996FF;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
